@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


section.vh-100 {
    background-color: #eaf3ff; 
}

.custom-card {
    background-color: #1b1359;
}


/*
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f5ff; 
    margin: 0;
    padding: 0;
}

.form-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#login button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

.form-label {
    color: #3e4455;
}

.form-control {
    background-color: #fff;
    padding: 0 30px;
    border-color: #939393;
    line-height: 45px;
    border-radius: 0;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: #fff;
    color: #3e4455;
    border-color: #939393;
}

.form-check-input {
    border-color: #939393;
}

.btn {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
    background-color: #6f63f4;
}
*/